* {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: darkslategray;
    height: 100vh;
    transition: 0.7s;
}

.circle {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
}

div.red {
    background-color: red;
    top: 20px;
    left: 20px;
}

div.green {
    background-color: greenyellow;
    bottom: 20px;
    left: 20px;
}

div.blue {
    background-color: blue;
    top: 20px;
    right: 20px;
}

div.orange {
    background-color: orange;
    bottom: 20px;
    right: 20px;
}

.bg p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    opacity: 0;
    color: white;
    transition: 1s;
}

div.red:hover~div.bg {
    background-color: red;
}

div.green:hover~div.bg {
    background-color: greenyellow;
}

div.orange:hover~div.bg {
    background-color: orange;
}

div.blue:hover~div.bg {
    background-color: blue;
}

div.red:hover~div.bg p.red,
div.green:hover~div.bg p.green,
div.orange:hover~div.bg p.orange,
div.blue:hover~div.bg p.blue {
    opacity: 1;
}